@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;    
    outline: none;
    font-family: "Inter", sans-serif;
}
:root{
    --white           : #ffffff;
    --black           : #000000;
    --paragrafos      : #0000009c;
    --bg-body         : #f1f6fc31;  
    --bg-btn          : #4f9cf9;
    --btn-hover       : #3580db;
    --bg-card         : #d3e6fd;
    --bg-dark         : #d3e6fd4d;
}
body{
  background-color:var(--bg-body);
}
a{
  color: inherit;
  text-decoration: none;
}
section,
footer{
  padding: 54px 0;
}
h3{
  font-size: 50px;
}
p{
  color: var(--paragrafos);
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
}
/* HOME */
header{
  background-image: url(/img/background-home.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /*efeito paralax quando tiver rolagem de pagina*/  
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav ul a{
  color: var(--white);
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;

  &:not(.btn)::after{
    content: "";
    background-color: var(--bg-btn);
    margin: 0 auto;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.4s;
  }
  &:hover::after{
    width: 100%;
  }
}
.btn{
  background-color: var(--bg-btn);
  color: var(--white);
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.2s;

  &:hover{
    background-color: var(--btn-hover);
  } 
}
.btn.animate-btn{
  animation: animate-outline 1s ease-out infinite;
}
@keyframes animate-outline {
  from{
    outline: 0px solid #4f9bf98a;
  }
  to{
   outline: 15px solid #4f9bf900;
  }
}
.banner{
  display: flex;
  justify-content: center;
  height: 100vh;

  & .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
  }
  & .banner-text h1{
    font-size: 96px;
    color: var(--white);
  }
  & .banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
  }
}
/* END HOME */

/*FACA MAIS*/
.faca-mais{
  background-color: var(--bg-dark);
}
.faca-mais .container, .faca-mais2 .container, .site-seguro .container{
  display: flex;
  align-items: center;
}
.faca-mais .faca-mais-text, .site-seguro-text{
  width: 50%;
  padding: 0 40px;
  
  & h3{
    font-size: 56px;
  }

  & p{
    margin: 5px 0 15px 0;
  }
}
.faca-mais .faca-mais-img, .site-seguro-img{
  width: 50%;
  
  & img{
    width: 100%;
  }
}
.faca-mais2 .faca-mais-text{
  width: 45%;
  
  & p{
    margin: 5px 0 15px 0;
  }
}
.faca-mais2 .faca-mais-img{
  width: 55%;
  background-color: var(--white);

  & img{
    margin-left: -5rem;
    padding-right: 5rem;
    width: 100%;
  }
}
.site-seguro{

  & img{
    margin-left: 5rem;
    padding-right: 0;    
  }
}
/* END FACA MAIS*/

/* DEPOIMENTOS */
.depoimentos{
  background-color: var(--bg-dark);

  & h3{
    text-align: center;
  }
  p {
    margin-bottom: 30px;
    text-align: center;
  }
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  & .card-item{
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
    padding: 2rem 0;

    & img{
      width: 80px;
      border-radius: 100%;
      display: block;
      margin: 10px auto;
    }
    
    & .name-user{
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 15px;
      transition: 0.3s;
    }

    & .depoimento-user{
      font-size: 15px;
      padding: 0 15px;
    }

    &:hover{
      background-color: var(--bg-btn);
      margin-top: -5px;

      .estrelas{
        border-top: 2px solid var(--white)
      }

      .estrelas i{
        color: var(--white);
        transition: 0.3s;
      }
      .name-user, .depoimento-user{
        color: var(--white);
        transition: 0.3s;
      }      
    }   
  }

  & .estrelas{
      margin: 15px;      
      border-top: 2px solid #71767a23;

      & i{
        color: var(--bg-btn);
        margin-top: 15px;
        font-size: 20px;
      }
    } 
}
/* END DEPOIMENTOS */

/* CLIENTES */
.clientes{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: var(--white);

  & h3, p{
    text-align: center;
  }

  & ul{
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
}
/* END CLIENTES */

/* SEGURANCA */
.site-seguro{
  background-color: var(--bg-dark);
}
/* END SEGURANCA */

/* FOOTER */
.footer{
  background-color: var(--bg-btn);
  display: flex;
  align-items: center;
  justify-content: center;
}
.redes-sociais{  
  display: flex;
  justify-content: center;
}
.footer .redes-sociais i{
  width: 35px;
  height: 35px;
  border-radius: 100px;
  color: var(--bg-btn);
  font-size: 19px;
  background-color: var(--white);
  padding: 10px;
  margin: 3px;
  margin-bottom: 1rem;
}
.footer .redes-sociais i:hover{
  transform: scale(.9);
}
.footer p{
  font-size: .8rem;
  color: var(--white);
  text-align: center;
}
/* END FOOTER */